{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Мой сайт</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Manrope:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap"
          rel="stylesheet">
</head>
<style>
    .tab-pane li {
      width: 385px;
      max-width: 30%;
      border: 1px solid #cccccc;
      border-radius: 5px;
    }

</style>

<body>
{% include 'header.html' %}

<div class="container">
    <div class="left-side">
        <h1>ELEVATE YOUR STYLE WITH StepUp</h1>
        <p>Explore a world of fashion at StepUp, where trends meet affordability. Immerse yourself in the latest
            styles and seize exclusive promotions.</p>
        <button class="shop-now"><img src="{% static 'images/Subtract.png' %}">Shop Now</button>
        <div class="blocks-container">
            <div class="block">
                <h2>More than 1000+</h2>
                <p>Stylish shoe models</p>
            </div>
            <div class="block">
                <h2>99%</h2>
                <p>Customer satisfaction level</p>
            </div>
            <div class="block">
                <h2>24/7 </h2>
                <p>Convenience of shopping at any time</p>
            </div>
            <div class="block">
                <h2>30 days</h2>
                <p>Easy return without unnecessary questions</p>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="image-container">
            <img src="{% static 'images/shoes.png' %}" alt="Обувь" class="active">
            <img src="{% static 'images/shoes2.png' %}" alt="Обувь">
            <img src="{% static 'images/shoes3.png' %}" alt="Обувь">
        </div>
    </div>
</div>


<div class="top-block">
    <h1>Our top sneakers</h1>
    <ul class="tabs">
        {% for category in top_sneaker_categories %}
        <li class="tab {% if forloop.counter == 1 %}active{% endif %}" data-pane="{{ category.name }}">{{ category.name}}
        </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for category in top_sneaker_categories %}
        <div class="tab-pane" data-pane= {{ category.name }}
             style="display: {% if forloop.counter == 1 %}block{% else %}none{% endif %};">
            <ul>
                {% for sneaker in category.top_sneakers.all %}
                <li data-category="{{ category.name }}">
                    <img src="{{ sneaker.image.url }}" alt="Обувь">
                    <div class="tab-info">
                        <p>{{ sneaker.name }}</p>
                        <p>{{ sneaker.price }}$</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>

<div class="reviews-block">
    <h1>Reviews</h1>
    <div class="reviews-container">
        <div class="review">
            <div class="review-header">
                <img src="{% static 'images/ava.png' %}" alt="ава">
                <span>Ivan Ivanov</span>
            </div>
            <div class="review-comment">
                <p>Great product! I recommend it to everyone.</p>
            </div>
        </div>
        <div class="review">
            <div class="review-header">
                <img src="{% static 'images/ava.png' %}" alt="ава">
                <span>Ivan Ivanov</span>
            </div>
            <div class="review-comment">
                <p>Great product! I recommend it to everyone.</p>
            </div>
        </div>
        <div class="review">
            <div class="review-header">
                <img src="{% static 'images/ava.png' %}" alt="ава">
                <span>Ivan Ivanov</span>
            </div>
            <div class="review-comment">
                <p>Great product! I recommend it to everyone.</p>
            </div>
        </div>
        <div class="review">
            <div class="review-header">
                <img src="{% static 'images/ava.png' %}" alt="ава">
                <span>Ivan Ivanov</span>
            </div>
            <div class="review-comment">
                <p>Great product! I recommend it to everyone.</p>
            </div>
        </div>
        <div class="review">
            <div class="review-header">
                <img src="{% static 'images/ava.png' %}" alt="ава">
                <span>Ivan Ivanov</span>
            </div>
            <div class="review-comment">
                <p>Great product! I recommend it to everyone.</p>
            </div>
        </div>
        <div class="review">
            <div class="review-header">
                <img src="{% static 'images/ava.png' %}" alt="ава">
                <span>Ivan Ivanov</span>
            </div>
            <div class="review-comment">
                <p>Great product! I recommend it to everyone.</p>
            </div>
        </div>

    </div>
    <div class="reviews-controls">
        <button class="prev-button">
            <i class="fa fa-chevron-left"><</i>
        </button>
        <button class="next-button">
            <i class="fa fa-chevron-right"> > </i>
        </button>
    </div>
</div>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-info">
            <p>&copy; 2025 Все права защищены</p>
            <p>Создано с любовью и заботой</p>
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Помощь</a></li>
            </ul>
        </div>
        <div class="footer-logo">
            <img src="{% static 'images/logo.png' %}" alt="Логотип сайта" class="logo">
            <span>Step Up</span>
        </div>
    </div>
</footer>

<script src="{% static 'script.js' %}"></script>
</body>
</html>