{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Itim&family=Manrope:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="header-container">
        <a href="#" class="product-button">Home</a>
        <a href="{% url 'product' %}" class="product-button">Product</a>
        <img src="{% static 'images/logo.png' %}" alt="Логотип сайта" class="logo">
        <button class="cart-button">
            <img src="{% static 'images/basket.png' %}">
        </button>
        <a href="{% url 'product' %}" class="product-button">Contact Support</a>
    </div>
</header>
</body>
</html>