{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Мой сайт</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Manrope:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap"
          rel="stylesheet">
</head>

<style>

</style>

<body>
{% include 'header.html' %}

<div class="container">
    <div class="detail-image">
        <img src="{{ shoe.image.url }}" alt="{{ shoe.name }}">
    </div>
    <div class="detail-info">
        <span class="detail-category">Men's shoes</span>
        <div class="detail-title-buttons">
            <h1 class="detail-title">{{ shoe.name }}</h1>
            <div class="detail-buttons">
                <button class="detail-buy-now"><img src="{% static 'images/shop.png' %}">Buy Now</button>
                <button class="detail-add-to-cart" onclick="location.href='{% url 'add_to_cart' 'Sneaker' shoe.id %}'">
                    <img src="{% static 'images/black-basket.png' %}">Add To cart
                </button>
            </div>
        </div>
        <p class="detail-price">${{ shoe.price }}</p>

        <div class="detail-options">
            <div class="detail-sizes">
                <span>Sizes:</span>
                <div class="detail-size-options">
                    <form id="size-form">
                        {% for size in shoe.sizes.all %}
                            <input type="radio" id="size-{{ size.id }}" name="size" value="{{ size.id }}">
                            <label for="size-{{ size.id }}">{{ size.size }}</label>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>

        <div class="detail-shipping-info">
            <h3>Material:</h3>
            <p>Eco-leather, Textiles</p>
        </div>

        <div class="detail-shipping-info">
            <h3>Fit:</h3>
            <p>Classic Fit</p>
        </div>
    </div>
    <div class="detail-description-info">
        <div class="detail-description">
            <h2>Shipping Information</h2>
            <ul>
                <li>Standard shipping: 3-5 business days</li>
                <li>Express shipping options available at checkout</li>
            </ul>
        </div>
        <div class="detail-description">
            <h2>Features</h2>
            <ul>
                <li>Unique design with textured elements for a stylish and modern look</li>
                <li>Lacing at the front for secure fit and comfort</li>
                <li>Cushioning sole for comfort during long wear and active walks</li>
                <li>Adjustable rear straps for personalized fit and support</li>
            </ul>
        </div>
    </div>
</div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-info">
                <p>&copy; 2025 Все права защищены</p>
                <p>Создано с любовью и заботой</p>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Помощь</a></li>
                </ul>
            </div>
            <div class="footer-logo">
                <img src="{% static 'images/logo.png' %}" alt="Логотип сайта" class="logo">
                <span>Step Up</span>
            </div>
        </div>
    </footer>
</body>
<script src="{% static 'detail.js' %}"></script>
</html>